$nightBlue: #42494f;
$steelBlue: #5d656d;
$aiGreen: #56967c;
$offWhite: #f5f3f3;
$editableElementHoverColor: #0969da;
$dropdownDarkThemeIconColor: #656d76;
$dropdownDarkThemeSubmenuBackgroundColor: #fff;
$dropdownDarkThemeSubmenuTextColor: #42494f;
$dropdownDarkThemeSubmenuBoxShadow: 0.05rem 0.05rem 7px 0 rgb(0 0 0 / 20%);
