# GitHub and branching rules ----------------------------------------------------------
GITHUB_REPOSITORY = Lixpi/lixpi
TICKET_KEY = LIX
DEFAULT_TARGET_BRANCH = main
DEFAULT_SOURCE_BRANCH = main

# Paths -------------------------------------------------------------------------------
LIXPI_REPOSITORY_PATH = {{LIXPI_REPOSITORY_PATH}}
